.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  width: 297px;
  font-size: 20px;
  margin-bottom: 20px;
}

.game-history {
  width: 297px;
}
  