.square {
  border: none;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  color: #5b5656;
}
.square:nth-child(n+7) {
  border-bottom: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}